<div class="column">
  <div class="card">
  <% if product.image.present? %>
    <div class="card-image">
      <figure class="image">
        <%= image_tag product.image %>
      </figure>
    </div>
  <% end %>
    <div class="card-content">
      <% if show_link %>
        <p class="title"><%= link_to product.name, product %></p>
      <% else %>
        <p class="title"><%= product.name %></p>
      <% end %>
      <p>Category: <%= link_to product.category.name, product.category %></p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        SKU: <br><%= product.sku %>
      </p>
      <p class="card-footer-item">
        Price: <br><%= number_to_currency product.price / 100 %>
      </p>
      <p class="card-footer-item">
        <% if product.is_assembled %>
          Assembled
        <% else %>
          Not Assembled
        <% end %>
      </p>
    </footer>
    <footer class="card-footer">
      <div class="card-footer-item">
        <% if cart.any? { |hash| hash["id"] == product.id } %>
          <%= form_with url: cart_index_path do %>
            <%= label_tag 'quantity' %>
            <%= number_field_tag('quantity', 1, class: 'quantity', disabled: true) %>
            <%= hidden_field_tag(:id, product.id) %>
            <%= button_tag 'Add to Cart', class: 'button is-success', disabled: true %>
          <% end %>
        <% else %>
          <%= form_with url: cart_index_path do %>
            <%= label_tag 'quantity' %>
            <%= number_field_tag('quantity', 1, class: 'quantity') %>
            <%= hidden_field_tag(:id, product.id) %>
            <%= button_tag 'Add to Cart', class: 'button is-success' %>
          <% end %>
        <% end %>
      </div>
    </footer>
  </div>
</div>