<!DOCTYPE html>
<html>
  <head>
    <title>Prairie Keyboards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>

  <body>
    <section class="section">
      <div class="container">
        <header>
          <div class="has-text-left">
            <h1 class="title is-1"><%= link_to "Prairie Keyboards", root_path %></h1>
            <p class="subtitle is-4">Canada's worst keyboard marketplace!</p>
          </div>
          <nav class="navbar" role="navigation" aria-label="main navigation">
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="products#index">
                  Products
                </a>

                <a class="navbar-item" href="categories#index">
                  Categories
                </a>
              </div>
            </div>
          </nav>
          <div class="has-text-right">
            <% if customer_signed_in? %>
              <p><%= link_to 'View Cart', "/cart/show" %></p>
              Logged in as <strong><%= current_customer.full_name %></strong>
              <%= link_to("Sign Out", destroy_customer_session_path, method: :delete) %>
            <% else %>
              <%= link_to "Sign Up", "/customers/sign_up" %> |
              <%= link_to "Log In", new_customer_session_path %>
            <% end %>
          </div>
        </header>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= render_breadcrumbs %>
        <%= debug cart %>
        <%= yield %>
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>Prairie Keyboards ships anywhere within Canada, exlcuding Quebec.</p>
      </div>
    </footer>
  </body>
</html>
